<html>
  <head>
    <title>MakersBnB-Space</title>
 </head>
 <body>
   <h1> <%= @space.name %> </h1>
   <img scr="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.houseplans.com%2Fblog%2Fstylish-and-simple-inexpensive-house-plans-to-build&psig=AOvVaw1hBvUFApKONmUxyYqQh25i&ust=1674050753919000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCPCU_5XjzvwCFQAAAAAdAAAAABAJ" />
   <p>
   <h3> Host </h3>
       The host for this space is: <%= @user.username %>  <!-- add link for account page -->
    </p> 
  <p>
      Dates available to rent: <%= @dates.date_available %> <br>
      Description: <%= @space.description %> <br>
      Price: <%= "£ #{@space.price}" %>
  </p> 

  <div>
  <form method="POST" action="/space/<%=@space.id%>">
    <input name="form" type="submit" value="Request this space" />
</form>
  </div>
 </body>
</html>