<head> <link rel="stylesheet" href="/style2.css" /> </head>

 <body>
    <div class="topnav">
    <% if logged_in? %>
  <a href="/">Home</a>
  <a href="/myaccount">My account</a>
  <%else%>
  <a href="/">Home</a>
  <%end%>
 </div>
   <h1> <%= @space.name %> </h1>
   <img src="/images/house.jpeg">
   <p>
       The host for this space is: <%= @space.user.username %>  <!-- add link for account page -->
    </p> 
  <p>
    <strong> Availability: </strong></p>
    <%@dates.each do |date|%>
      <%if date.available? == "1"%>
        <%="#{date.date_available.strftime("%d-%m-%Y")}" %><br>
      <%elsif date.available? == "2"%>
        <%="#{date.date_available.strftime("%d-%m-%Y")} - Booked" %><br>
      <%end%>
    <%end%></p>

      <strong>Description:</strong> <%= @space.description %> <br>
      <strong>Price:</strong> <%= "£#{'%.2f' % @space.price}" %>
  </p> 

  
  <% if  logged_in? %> 
    <form action="/space/book/<%=@space.id%>">
    <input type="submit" value="Go to booking page" />
</form>
  <% else %>
   <a href='/signup'>Sign up to request this space if you do not have an account</a><br>
   or<br>
   <a href='/'>Log in to request this space</a>
  <% end %>
</form>
 </body>
