<html>
  <head>
    <title>MakersBnB-Space</title>
 </head>
 <body>
   <h1> <%= @space.name %> </h1>
   <p>
   <strong> Host: </strong>
       The host for this space is: <%= @user.username %>  <!-- add link for account page -->
    </p> 
  <p>
      <p><strong> Availability: </strong></p>
      <%@dates.each do |date|%>
        <%=formatted_timestamp = date.date_available.strftime("%d-%m-%Y")%><br>
      <%end%> <br>
      <h3Description: <%= @space.description %> <br>
      <strong>Price:</strong> <%= "£#{'%.2f' % @space.price}" %>
  </p> 

  <div>
  <form method="POST" action="/space/<%=@space.id%>">
  <% if  logged_in? %>
    <input name="form" type="submit" value="Request this space" /> 
  <% else %>
  <a href='/signup'>Sign up to request this space if you do not have an account</a><br>
  or<br>
  <a href='/'>Log in to request this space</a>
  <% end %>
</form>
  </div>
 </body>
</html>