<head> <link rel="stylesheet" href="/style.css" /> </head>
 
  <div class="topnav">

   <a class="active" href="/">Home</a>
</div>

 <body>
   <h1> <%= @space.name %> </h1>
   <p>
   <strong> Host: </strong>
       The host for this space is: <%= @space.user.username %>  <!-- add link for account page -->
    </p> 
  <p>
    <strong> Availability: </strong> <%@dates.each do |date| formatted_date = date.date_available.strftime("%d-%m-%Y") %>
        <%= formatted_date %><br>
      <%end%></p>

      <strong>Description:</strong> <%= @space.description %> <br>
      <strong>Price:</strong> <%= "£#{'%.2f' % @space.price}" %>
  </p> 

  <div>
  
  <% if  logged_in? %>
    <form action="/space/book/<%=@space.id%>">
    <input type="submit" value="Go to booking page" />
</form>
  <% else %>
  <a href='/signup'>Sign up to request this space if you do not have an account</a><br>
  or<br>
  <a href='/'>Log in to request this space</a>
  <% end %>
</form>
  </div>
 </body>
