<html>

  <body>
  <a href= '/'>Home</a><br>

    <h3>Account page for <%= current_user.first_name %> <%= current_user.last_name %></h3>
    <div>
    <p>User details:</p><br>
    <p>Username: <%= current_user.username %> </p><br>
    <p>Email: <%= current_user.email %> </p><br>
    <p>Phone Number: <%= current_user.mobile_number %> </p><br><br>

    <p><span style="color:red">Your passwords do not match, please try again.</span></p>
    <h1>Enter new details</h1>
    <form action="/myaccount-update" method="POST">
      <p><input name="username" value="<%=current_user.username%>" /></p>
      <p><input name="first_name" value="<%=current_user.first_name%>" /></p>
      <p><input name="last_name" value="<%=current_user.last_name%>" /></p>
      <p><input name="email" value="<%=current_user.email%>" /></p>
      <p><input name="mobile_number" value="<%=current_user.mobile_number%>" /></p>
      <p><input name="password" type="password" placeholder="Password" /></p>
      <p><input name="repeat_password" type="password" placeholder="Repeat Password" /></p>
      <p><input type="submit" value="Update Details" />
    </form>

  </body>

</html>